In [1]:
# create a df
# season, team id, coach, most used formation
# season, team id, coach, most used formation
# ...
# season, team id, coach, most used formation

In [2]:
import pandas as pd
from tqdm import tqdm
import numpy as np

import requests
from bs4 import BeautifulSoup
import time

In [10]:
df = pd.read_csv('players_infos.csv')

In [20]:
seasons = np.arange(2023, 2024).tolist()
headers = {"User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"}

In [16]:
target_teams = df[['Season', 'TEAM_ID', 'Team', 'League']].drop_duplicates()

In [51]:
def get_tactical_systems(season, team_id, team, league):
    season_id = str(season)[:4]
    link = f'https://www.transfermarkt.co.uk/team/spielplan/verein/{team_id}/saison_id/{season_id}/plus/1'
    response = requests.get(link, headers=headers)
        
    games_df = pd.DataFrame()
    for df in pd.read_html(response.content):
        if 'System of play' in df.columns.values.tolist():
            games_df = pd.concat([games_df, df])
    
    system_df = games_df.groupby('Coach')['System of play'].agg(pd.Series.mode).to_frame('Most Used System').reset_index()
    system_df['Season'] = [season]*len(system_df)
    system_df['Team'] = [team]*len(system_df)
    system_df['Team_ID'] = [team_id]*len(system_df)
    
    total_games = games_df.groupby('Coach').size().to_frame('Games Used').reset_index()
    system_df = system_df.merge(total_games, how='left', on='Coach')

    return system_df

In [54]:
a = get_tactical_systems(202425, 405, 'Aston Villa', 'GB1')
#target_teams

In [55]:
a

        Coach Most Used System  Season         Team  Team_ID  Games Used
0  Unai Emery          4-2-3-1  202425  Aston Villa      405          10

In [57]:
tqdm.pandas()
systems_df = target_teams.progress_apply(lambda x: get_tactical_systems(x['Season'], x['TEAM_ID'], x['Team'], x['League']), axis=1)

100%|████████████████████████████████████████████████████████████████████████████████| 167/167 [10:07<00:00,  3.64s/it]

In [60]:
pd.concat(systems_df.values.tolist()).to_csv('tactical_systems.csv', index=False)

In [61]:
pd.concat(systems_df.values.tolist())

,Coach,Most Used System,Season,Team,Team_ID,Games Used
0,Pep Guardiola,3-4-2-1,202425.0,Manchester City,281,12
0,Mikel Arteta,4-3-3 Attacking,202425.0,Arsenal,11,10
0,Enzo Maresca,4-2-3-1,202425.0,Chelsea,631,11
0,Arne Slot,4-2-3-1,202425.0,Liverpool,31,10
0,Erik ten Hag,4-2-3-1,202425.0,Manchester United,985,11
...,...,...,...,...,...,...
0,Freyr Alexandersson,"[3-5-2, 5-4-1]",202425.0,KV Kortrijk,601,10
0,Christian Lattanzio,3-5-2 flat,202425.0,SintTruidense VV,475,6
1,Felice Mazzù,3-4-3,202425.0,SintTruidense VV,475,4
0,Dirk Kuyt,3-4-3,202425.0,Beerschot VA,41274,10
0,Vincent Euvrard,5-3-2,202425.0,FCV Dender EH,9010,10